@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px 0px 0px 0px;
    max-width: 100%;
    height: auto;
    background-color: rgb(250, 245, 236);
}
ul {
    list-style: none;
}
.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    text-align: justify;
    padding: 20px;
}
header{
    height: 97vh;
    display: flex;
    background-image: linear-gradient(to top, rgba(118, 75, 162, 0.6) 0%, rgba(169, 139, 159, 0.6) 100%),url(../imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:top;
    box-shadow: 0 0 3em rgba(0, 0, 0);
}
.head{
    padding: 0;
    height: 100%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.nombre{
    font-size: 50px;
    margin-top: 95px;
    margin-bottom: 10px;
}
.titulo{
    font-size: 30px;   
    margin-bottom: 10px;
}
.descripcion{
    font-weight: 300;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 10px;
}
.perfil_img{
    width: 180px;
    border-radius: 30%;
    display: flex;
    align-items:top;
    justify-content:left;
    justify-self: left;
    margin-top: 40px;
    margin-left: 40px;
}

/* esta seccion es para el formato de la barra lateral*/
.nav{
    width: 230px;
}
.nav__link{
    color: #303440;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: white;
}
.nav__link--inside{
    border-radius: 6px ;
    padding-left: 10px;
    text-align: left;
}
.nav__link--inside:hover{
    background: #764ba2;
}

.list{
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    box-shadow: 0 0 1em 1em rgba(0, 0, 0, .5);
    border-radius: 16px 0 0 16px;
    background: rgba(159, 138, 208, 0.5);
}
.list__item{
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin-left: 20px;
}
.list__item--click{
    cursor: pointer;
}
.list__button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 80%;
}
.arrow .list__arrow{
    transform: rotate(90deg);
}
.list__arrow{
    transition: transform .3s;
}
.list__show{
    width: 80%;
    margin-left: auto;
    border-left: 1px solid #303440;
    transition: height .4s;
    height: 0;
}
.list__img{
    width: 50px;
    margin-left: 0;
}
/* aca termina la barra lateral y comienzan los formatos del contenido*/

.subtitulo{
    text-align: center;
    font-weight: 500;
    color: #9f8ad0;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 40px;
}
.contenedor{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.contenedor_img{
    width: 40%;
    margin-right: 5%;
}
.checklist-personal{
    width: 55%;
}
.person{
    margin-bottom: 50px;
    margin-top: 50px;
}
.n-person{
    margin-bottom: 7px;
    color: #9f8ad0;
}
.number{
    display: inline-block;
    background-image: linear-gradient(to top, rgb(118, 75, 162) 0%, rgba(169, 139, 159) 100%);
    width: 30px;
    height: 30px;
    color: white;
    text-align: center;
    border-radius: 50%;
    font-weight: 400;
    line-height: 30px;
    margin-right: 5px;
}
.n-exp{
    text-align: center;
    font-weight: 150;
    color: #9f8ad0;
    margin-top: 60px;
    margin-bottom: 80px;
    font-size: 20px;
    font-weight: 550;
}
.exp_img{
    width: 20%;
    float: right;
    margin-top: 50px;
    margin-bottom: 80px;
    margin-left: 40px;
}
p{
    margin-top: 10px;
    margin-bottom: 10px;
}

footer{
    background: rgba(118, 75, 162, 0.7);
    padding-bottom: 0.1px;
    border-radius: 16px;
    box-shadow: 0 0 3em rgba(0, 0, 0);
}
.contact-us{
    width: 40%;
    color: white;
    font-weight: 500;
    font-size: 20px;
}
.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1 px solid white;
    border-radius: 50%;
    text-align: center;
    color: white;
}
.social-media-icon:hover{
    background: white;
    color: #764ba2;
}
.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}
.line{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 2px;
    background: white;
    margin-bottom: 60px;
}

/* boton para subir al inicio*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: 2px solid;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    color: rgba(114, 96, 156, 0.25);
    cursor: pointer;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
#myBtn:hover {
    background-image: linear-gradient(to top, #ffffff 0%, #ffffff 100%);    
}
.top_img{
    width: 30px;
}
